h2.intro {
  font-size: 50px;
  font-weight: 900px;
  font-family: AndaleMono;
  text-align: center;

}

p.intro {
  color:white;
  font-size: 19px;
}

img.intro {
  width:100%;
}

body{
    background-color: #C6C5C5;
}
