.header {
  color: deeppink;
  font-size: 50px;
  font-family: monospace;
}

.intro {
  text-shadow: #66aaaa 2px 2px;
  text-decoration: underline;
  font-size: 20px;
}

.flashy {
  color: mediumvioletred;
  font-size: 40px;
  font-style: italic;
}

.flashydisc {
  color: peachpuff;
  font-size: 20px;
}

h2 {
  color: mediumvioletred;
  font-size: 25px;
}

.cash {
  color: limegreen;
}

ul {
  display: inline-block;
  text-align: left;
  border: white solid;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 20px;
}

li {
  color: Peachpuff;
  font-size: 18px;
}

.red {
  color: red;
  font-size: 19px;
}

.best {
  color: mediumspringgreen;
  font-size: 20px;
  line-height: 40px;

}
body {
  background-color: SteelBlue;
  text-align: center;
  font-style: italic;
}
